nav{
    display: flex;
    gap: 30px;
    padding: 10px 20px;
    justify-content: space-between;
}
nav > h1{
    color: rgb(248, 245, 245);
   
}
nav > div {
    
    width: 80%;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
nav  input{
    flex-grow: 1;
    color: background: rgba(255, 255, 255, 0.2);
    
}
nav button, nav input{
    background-color: rgba(38, 38, 38, 1);
    padding: 8px;
    border-radius: 10px;
}
nav button{
    color: white;
}
img{
    /* background-color: yellow; */
}
.header-section{
    background-color:rgba(38, 38, 38, 1);
    padding: 20px;
    margin: 20px 50px;
    border-radius: 25px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    
}
.small-image{
    width: 50px;
    padding: 20px;
    height: 50px;
    
}
.large-image{
    width: 150px;
}
/* item{
    display: flex;
} */
.header-left>.item{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    align-items: center;
}
.header-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
section>div>div> button{
    background-color: rgb(210, 230, 58);
    color: black;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    align-self: center;
}
.categories-section{
    margin: 20px 50px;
}
.card-container{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    gap:20px;
    padding: 0 10px;
}
.card{
    color:rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    width: 30%;
    height: 200px;
    border: 1px solid rgb(70, 69, 69);
    border-radius: 10px;
    position: relative;
    padding: 2px;
    padding-bottom: 40px;
}
.card > h3,.card>p{
    color: rgba(255, 255, 255, 0.665);
}
.card > button{
    color: black;
    background-color: yellow;
    border-radius: 25px;
    position: absolute;
    right: 7px;
    bottom: 7px;
}
footer{
    display: flex;
    padding: 10px;
    margin:  0  50px;
    gap: 20px;
    background-color: rgba(38, 38, 38, 1);
    border-radius: 20px;
    justify-content: space-around;
}
footer> div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
footer> div>a,footer p,footer h2,footer h3{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.665);
}
